### Learning Pandas from Scratch

1. Introduction to Pandas
What is Pandas?
Pandas is a powerful open-source data manipulation and analysis library for Python. It provides data structures and functions needed to efficiently work with structured data. It is built on top of NumPy, which provides support for large, multi-dimensional arrays and matrices. Pandas is widely used in data analysis, data science, and machine learning.

Why Use Pandas for Data Analysis?
Easy handling of missing data.
Efficient data slicing, filtering, and grouping operations.
Powerful tools for data cleaning and wrangling.
Support for importing and exporting data from various formats like CSV, Excel, SQL databases, and more.
Built-in functions for quick data visualization.

**Installing Pandas**

If you donâ€™t have Pandas installed, you can do so using pip:

In [ ]:
!pip install pandas

Importing Pandas

In [49]:
import pandas as pd

# 2. Data Structures in Pandas

Pandas provides two primary data structures:

Series: One-dimensional labeled array, similar to a list but with labels (index).
DataFrame: Two-dimensional labeled data structure, similar to a table or spreadsheet.

## 2.1 Series
A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, etc.). It can be thought of as a column in a spreadsheet.

Creating a Series
You can create a Series from a list, NumPy array, dictionary, or even a scalar value. Here are a few examples:

In [52]:
import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

# Creating a Series with custom index
series_custom_index = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
print(series_custom_index)

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64

### Series Operations
Series support vectorized operations similar to NumPy arrays:

In [55]:
# Arithmetic operations
print("\nAdding 5 to each element:")
print(series + 5)

# Conditional filtering
print("\nFiltering elements greater than 20:")
print(series[series > 20])

Adding 5 to each element:
0    15
1    25
2    35
3    45
4    55
dtype: int64

Filtering elements greater than 20:
2    30
3    40
4    50
dtype: int64

### Accessing Series Elements
You can access elements using both integer-location-based indexing and label-based indexing:

In [58]:
# Accessing by position
print("\nElement at position 2:")
print(series[2])

# Accessing by label
print("\nElement with label 'c':")
print(series_custom_index['c'])

Element at position 2:
30

Element with label 'c':
30

## 2.2 DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It can be thought of as a table or spreadsheet.

### Creating a DataFrame
You can create a DataFrame from a dictionary of lists, a list of dictionaries, or even NumPy arrays.

In [65]:
# Creating DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print(df)
print("*"*50)
# Creating DataFrame from a list of dictionaries
data = [
    {'Name': 'Alice', 'Age': 25, 'Salary': 50000},
    {'Name': 'Bob', 'Age': 30, 'Salary': 60000}
]
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
**************************************************
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

### Viewing DataFrame Information
df.head() shows the first 5 rows.

df.tail() shows the last 5 rows.

df.info() provides a summary of the DataFrame, including data types and non-null values.

df.describe() gives a statistical summary of numerical columns.

In [69]:
print("\nFirst 3 rows:")
print(df.head(3))

print("\nDataFrame information:")
print(df.info())

print("\nStatistical summary:")
print(df.describe())

First 3 rows:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   Salary  2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 180.0+ bytes
None

Statistical summary:
             Age        Salary
count   2.000000      2.000000
mean   27.500000  55000.000000
std     3.535534   7071.067812
min    25.000000  50000.000000
25%    26.250000  52500.000000
50%    27.500000  55000.000000
75%    28.750000  57500.000000
max    30.000000  60000.000000

### Basic DataFrame Operations
Selecting Rows and Columns

Adding and Deleting Columns

In [72]:
print("\nSelecting 'Name' column:")
print(df['Name'])

Selecting 'Name' column:
0    Alice
1      Bob
Name: Name, dtype: object

In [74]:
print("\nSelecting 'Name' and 'Salary' columns:")
print(df[['Name', 'Salary']])

Selecting 'Name' and 'Salary' columns:
    Name  Salary
0  Alice   50000
1    Bob   60000

#### Selecting rows 

using .loc[] (label-based) and .iloc[] (integer-based):

In [82]:
# Using loc (label-based)
print("\nSelecting row with index 1 using loc:")
print(df.loc[1])

# Using iloc (integer-location-based)
print("\nSelecting row at position 2 using iloc:")
print(df.iloc[1])

Selecting row with index 1 using loc:
Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object

Selecting row at position 2 using iloc:
Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object

### Adding and Deleting Columns
Adding a new column:

python

Copy

Edit

In [86]:
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
    Name  Age  Salary   Bonus
0  Alice   25   50000  5000.0
1    Bob   30   60000  6000.0

Deleting a column:

In [89]:
df.drop(columns=['Bonus'], inplace=True)
print("\nDataFrame after dropping Bonus column:")
print(df)

DataFrame after dropping Bonus column:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

## 3. Importing and Exporting Data
Reading Data from CSV

In [97]:
# Using the Iris dataset from UCI Machine Learning Repository
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Adding column names since the dataset doesn't have headers
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

# Reading the CSV file into a DataFrame
df = pd.read_csv(url, header=None, names=column_names)

# Displaying the first 5 rows of the DataFrame
print("First 5 rows of the Iris dataset:")
print(df.head())

First 5 rows of the Iris dataset:
   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Exporting Data to CSV

In [104]:
# Exporting DataFrame to CSV
df.to_csv('C:/Users/MASV/Downloads/output.csv', index=False)

Reading and Writing Excel Files

In [ ]:
# Reading Excel file
df = pd.read_excel('path/to/your/file.xlsx', sheet_name='Sheet1')
print(df.head())

# Writing Excel file
df.to_excel('path/to/your/output.xlsx', index=False)

## 4. Data Exploration and Cleaning
Viewing Data Information

df.head() and df.tail()

df.info() and df.describe()

## Handling Missing Values

In [107]:
# Checking for missing values
print(df.isnull().sum())

# Dropping missing values
df_cleaned = df.dropna()

# Filling missing values
df_filled = df.fillna(value={'Age': 30, 'Salary': 0})

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Data Type Conversion

In [110]:
# Converting data types
df['Age'] = df['Age'].astype(float)

KeyError: 'Age'

5. Data Manipulation
Filtering Data

In [26]:
# Filtering rows where Age > 30
filtered_df = df[df['Age'] > 30]
print(filtered_df)

NameError: name 'df' is not defined

## Sorting Data

In [ ]:
# Sorting by Age
sorted_df = df.sort_values(by='Age', ascending=True)
print(sorted_df)

## Grouping and Aggregation

In [ ]:
# Grouping and calculating mean salary by Age
grouped_df = df.groupby('Age')['Salary'].mean()
print(grouped_df)

In [28]:
# Grouping and calculating mean salary by Age
grouped_df = df.groupby('Age')['Salary'].mean()
print(grouped_df)

NameError: name 'df' is not defined

## Merging and Concatenating DataFrames
python
Copy
Edit

In [ ]:
# Merging DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Salary': [50000, 60000, 70000]})
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

## 6. Data Visualization with Pandas
Quick Plotting

In [ ]:
import matplotlib.pyplot as plt

# Plotting Age vs Salary
df.plot(x='Age', y='Salary', kind='line')
plt.title('Age vs Salary')
plt.show()

## 7. Advanced Topics
Applying Functions using apply()

In [ ]:
# Applying a function to a column
df['Salary Increment'] = df['Salary'].apply(lambda x: x * 1.10)
print(df)

Pivot Tables

In [ ]:
# Creating a Pivot Table
pivot_table = df.pivot_table(values='Salary', index='Age', aggfunc='mean')
print(pivot_table)

## 8. Real-World Example
Let's analyze a sample dataset:

Load a public dataset using Pandas

In [113]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

Perform basic data exploration
Clean the data (handle missing values)
Perform data manipulation (filtering, grouping)
Visualize the data